<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.46.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.25.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>